PyPDF2
python-dotenv
black
pre-commit
beautifulsoup4==4.12.2
black[jupyter]==23.3.0
flake8==6.0.0
gdown==4.7.1
gensim==4.3.1
isort==5.12.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.2
pandas==2.0.0
pytest==7.3.0
scikit_learn==1.2.2
spacy==3.5.2
boto3==1.28.48
pdfminer.six==20221105
wordcloud==1.9.2
seaborn==0.12.2